<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="meta_css">
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
    <link rel="stylesheet" th:href="@{/user/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/css/magnific-popup.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/css/style.css}" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" th:href="@{/modelPopup/css/styles.css}">
    <style>
        .hidden {
            display: none !important;
        }
    </style>
</head>
<body>
<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-wrapper" th:fragment="menu">
    <div class="offcanvas__option">
        <div class="offcanvas__links non-login">
            <a th:href="@{/login.html}">Đăng nhập</a>
            <a th:href="@{/register.html}">Đăng ký</a>
        </div>

        <div class="offcanvas__top__hover logged-in">
            <span>Usd <i class="arrow_carrot-down"></i></span>
            <ul>
                <li><a th:href="@{/user-information.html}" >Thông tin cá nhân</a></li>
                <li>><a class="logout-btn" th:href="@{/logout.html}" >Đăng xuất</a></li>
                <li>USD</li>
            </ul>
        </div>
    </div>
    <div class="offcanvas__nav__option">
        <a href="#" class="search-switch"><img th:src="@{/user/img/icon/search.png}" alt=""></a>
        <a href="#"><img th:src="@{/user/img/icon/heart.png}" alt=""></a>
        <a href="#"><img th:src="@{/user/img/icon/cart.png}" alt=""> <span>0</span></a>
        <div class="price">$0.00</div>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__text">
        <p>Miễn phí vận chuyển, đảm bảo hoàn tiền hoặc trả hàng trong vòng 30 ngày.</p>
    </div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header" th:fragment="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="header__top__left">
                        <p>Miễn phí vận chuyển, đảm bảo hoàn tiền hoặc trả hàng trong vòng 30 ngày.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="header__top__right">
                        <div class="header__top__links non-login">
                            <a th:href="@{/login.html}">Đăng nhập</a>
                            <a th:href="@{/register.html}">Đăng ký</a>
                        </div>
                        <div class="header__top__hover logged-in">
                            <span>Tài khoản của tôi <i class="arrow_carrot-down"></i></span>
                            <ul>
                                <li><a th:href="@{/user-information.html}" style="font-size: 16px;" >Thông tin cá nhân</a></li>
                                <li><a class="logout-btn" th:href="@{/logout.html}" style="font-size: 16px;" >Đăng xuất</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a href="./index.html"><img th:src="@{/user/img/logo.png}" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li class="active"><a href="./index.html">Trang chủ</a></li>
                        <li><a href="./shop.html">Sản phẩm</a></li>
                        <li><a href="#">Trang liên quan</a>
                            <ul class="dropdown">
                                <li><a href="./about.html">About Us</a></li>
                                <li><a href="./shop-details.html">Shop Details</a></li>
                                <li><a href="./shopping-cart.html">Shopping Cart</a></li>
                                <li><a href="./checkout.html">Check Out</a></li>
                                <li><a href="./blog-details.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="./contact.html">Liên hệ</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    <a href="#" class="search-switch"><img th:src="@{/user/img/icon/search.png}" alt=""></a>
                    <a href="#"><img th:src="@{/user/img/icon/heart.png}" alt=""></a>
                    <a href="#"><img th:src="@{/user/img/icon/cart.png}" alt=""> <span>0</span></a>
                    <div class="price">$0.00</div>
                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>
<!-- Header Section End -->

<!-- Footer Section Begin -->
<footer class="footer" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="#"><img th:src="@{/user/img/footer-logo.png}" alt=""></a>
                    </div>
                    <p>Khách hàng là trọng tâm trong mô hình kinh doanh độc đáo của chúng tôi, bao gồm cả thiết kế.</p>
                    <a href="#"><img th:src="@{/user/img/payment.png}" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul>
                        <li><a href="#">Clothing Store</a></li>
                        <li><a href="#">Trending Shoes</a></li>
                        <li><a href="#">Accessories</a></li>
                        <li><a href="#">Sale</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Payment Methods</a></li>
                        <li><a href="#">Delivary</a></li>
                        <li><a href="#">Return & Exchanges</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h6>NewLetter</h6>
                    <div class="footer__newslatter">
                        <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                        <form action="#">
                            <input type="text" placeholder="Your email">
                            <button type="submit"><span class="icon_mail_alt"></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="footer__copyright__text">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <p>Copyright ©
                        <script>
                            document.write(new Date().getFullYear());
                        </script>2020
                        All rights reserved | This template is made with <i class="fa fa-heart-o"
                                                                            aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    </p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model" th:fragment="search">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->

<!-- Js Plugins -->
<th:block th:fragment="scripts">
    <script th:src="@{/user/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/user/js/bootstrap.min.js}"></script>
    <script th:src="@{/user/js/jquery.nice-select.min.js}"></script>
    <script th:src="@{/user/js/jquery.nicescroll.min.js}"></script>
    <script th:src="@{/user/js/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{/user/js/jquery.countdown.min.js}"></script>
    <script th:src="@{/user/js/jquery.slicknav.js}"></script>
    <script th:src="@{/user/js/mixitup.min.js}"></script>
    <script th:src="@{/user/js/owl.carousel.min.js}"></script>
    <script th:src="@{/user/js/main.js}"></script>
    <script th:src="@{/user/js/fragments.js}"></script>
</th:block>

</body>
</html>