<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="user/fragments :: meta_css"></head>

<body>
<div th:replace="user/fragments :: chatbot"></div>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div th:replace="user/fragments :: menu"></div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header th:replace="user/fragments :: header"></header>
<!-- Header Section End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shopping Cart</h4>
                    <div class="breadcrumb__links">
                        <a href="../index.html">Home</a>
                        <a href="shop.html">Shop</a>
                        <span>Shopping Cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="shopping__cart__table">
                    <table>
                        <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="orderList : ${orderLists}">
                            <td class="product__cart__item">

                                <div class="product__cart__item__pic" style="display: flex">
                                    <img th:src="@{'/user/img/product/' + ${orderList.cart.product.image}}"
                                         style="height:90px; width:90px" alt="">
                                </div>
                                <div class="product__cart__item__text">
                                    <h6 th:text="${orderList.cart.product.productName}"></h6>
                                    <h5 th:text="${orderList.cart.product.price}"></h5>
                                </div>
                            </td>
                            <td class="quantity__item">
                                <div class="quantity">
                                    <div class="pro-qty-2" >
                                        <input type="text" class="inputText"
                                               th:value="${orderList.quantity}">
                                    </div>
                                </div>
                            </td>
                            <td class="cart__price"
                                th:text="${orderList.quantity*orderList.cart.product.price}"></td>
                        </tr>

                        </tbody>
                    </table>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="cart__discount">
                    <h6>Discount codes</h6>
                    <form action="#">
                        <input type="text" placeholder="Coupon code">
                        <button type="submit">Apply</button>
                    </form>
                </div>
                <div class="cart__total">
                    <h6>Cart total</h6>
                    <ul>
                        <li>Miễn giảm: <span>0 VND</span></li>
                        <li>Tổng tiền: <span id="result"></span></li>
                    </ul>
                    <script>
                        const items = document.querySelectorAll('.cart__price');

                        const total = Array.from(items).reduce((sum, item) => {
                            return sum + parseFloat(item.getAttribute("value"));
                        }, 0);

                        // Hiển thị tổng trong thẻ <div>
                        const resultDiv = document.getElementById("result");
                        resultDiv.textContent = `${total}`.toFixed(0);
                    </script>
                    <a href="/clothing-sell/user/orders.html" class="primary-btn" style=" cursor: pointer;">Xem đơn hàng
                        khác</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer Section Begin -->
<footer th:replace="user/fragments :: footer"></footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div th:replace="user/fragments :: search"></div>
<!-- Search End -->

<!-- Js Plugins -->
<div th:replace="user/fragments :: scripts"></div>
</body>

</html>