<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="en">
<!--<![endif]-->

<head th:replace="admin/fragments :: meta_css"></head>

<body class="bg-dark">


<div class="sufee-login d-flex align-content-center flex-wrap">
    <div class="container">
        <div class="login-content">
            <div class="login-logo">
                <a href="index.html">
                    <img class="align-content" th:src="@{/admin/images/logo.png}" alt="">
                </a>
            </div>
            <div class="login-form">
                <form>
                    <div class="form-group">
                        <label>Người dùng</label>
                        <input type="text" class="form-control" placeholder="Họ và tên...">
                    </div>
                    <div class="form-group">
                        <label>Địa chỉ email</label>
                        <input type="email" class="form-control" placeholder="Email...">
                    </div>
                    <div class="form-group">
                        <label>Số điện thoại</label>
                        <input type="text" class="form-control" placeholder="Số điện thoại...">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="radio" name="gender" value="male"> Nam
                        </label>
                        <label>
                            <input type="radio" name="gender" value="female"> Nữ
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Tài khoản</label>
                        <input type="text" class="form-control" placeholder="Tài khoản...">
                    </div>
                    <div class="form-group">
                        <label>Mật khẩu</label>
                        <input type="password" class="form-control" placeholder="Mật khẩu...">
                    </div>
                    <div class="form-group">
                        <label>Mật khẩu</label>
                        <input type="password" class="form-control" placeholder="Nhập lại mật khẩu...">
                    </div>

                    <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Tạo tài khoản</button>
                    <div class="register-link m-t-15 text-center">
                        <p>Already have account ? <a href="#"> Sign in</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script th:src="@{/admin/vendors/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/admin/vendors/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{/admin/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/admin/assets/js/main.js}"></script>


</body>

</html>
