<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="en">
<!--<![endif]-->

<head th:replace="admin/fragments :: meta_css"></head>

<body>

<!-- Left Panel -->
<aside th:replace="admin/fragments :: left-panel"></aside>

<!-- Left Panel -->

<!-- Right Panel -->

<div id="right-panel" class="right-panel">

    <!-- Header-->
    <header th:replace="admin/fragments :: header"></header>
    <!-- /header -->
    <!-- Header-->

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Khách hàng</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="#">Khách hàng</a></li>
                        <li class="active">Cập nhật khách hàng</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">

        <div class="card">
            <div class="card-header"><strong>Cập nhật khách hàng</strong><small> Form</small></div>
            <div class="card-body card-block">
                <form action="#" th:action="@{/admin/customer/save}" th:object="${customer}" method="post">
                    <div class="form-group"><label for="customerId" class=" form-control-label">Mã khách hàng</label>
                        <input type="text" th:field="*{customerId}" id="customerId" placeholder="Nhập mã khách hàng"
                               class="form-control">
                    </div>

                    <div class="form-group"><label for="customerName" class=" form-control-label">Tên khách hàng</label>
                        <input th:field="*{name}" type="text" id="customerName" placeholder="Nhập tên khách hàng"
                               class="form-control">
                    </div>

                    <div class="form-group"><label for="phoneNum" class=" form-control-label">SDT</label>
                        <input th:field="*{phoneNum}" type="text" id="phoneNum" placeholder="Nhập SDT" class="form-control">
                    </div>

                    <div class="form-group"><label for="email" class=" form-control-label">Email</label>
                        <input th:field="*{email}" type="text" id="email" placeholder="Nhập email"
                               class="form-control">
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3"><label for="selectStatus" class=" form-control-label">Giới tính</label>
                        </div>
                        <div class="col-12">
                            <select th:field="*{sex}" name="selectStatus" id="selectSex" class="form-control">
                                <option value="Nam">Nam</option>
                                <option value="Nữ">Nữ</option>
                            </select>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3"><label for="selectStatus" class=" form-control-label">Trạng
                            thái</label>
                        </div>
                        <div class="col-12">
                            <select th:field="*{status}" name="selectStatus" id="selectStatus" class="form-control">
                                <option value="true">true</option>
                                <option value="false">false</option>
                            </select>
                        </div>
                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary btn-sm">
                            <i class="fa fa-dot-circle-o"></i> Gửi
                        </button>
                        <button type="reset" class="btn btn-danger btn-sm">
                            <i class="fa fa-ban"></i> Hủy
                        </button>
                    </div>
                </form>

            </div>
        </div>


    </div> <!-- .content -->
</div><!-- /#right-panel -->

<!-- Right Panel -->

<div th:replace="~{admin/fragments :: scripts}"></div>


</body>

</html>
